body {
  background-color: #ffffff;
  color: #2b2b2b;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(70, 31%, 85%);
  text-align: center;
}

.balloon {
  display: inline-block;
  width: 50vw;
  height: 30vh;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  top: 67vw;
  position: absolute;
  height: 80vw;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

header {
  background-color: #ffdac6;
  color: #7c6a0a;
  padding: 20px;
  border-bottom: 2px solid #fa9500;
}

h1,
h2 {
  color: #fa9500;
}

.container {
  max-width: 500px;
  margin: auto;
}

.challenge-section {
  background-color: #babd8d;
  border-radius: 5px;
  padding: 20px;
}

input.form-control {
  margin-bottom: 10px;
}

button {
  background-color: #eb6424;
  border: none;
  color: white;
  width: 100%;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #7c6a0a;
}
