@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  color: #2b2b2b;
  font-family: "Comic Neue", cursive;
  margin: 0;
  padding: 0;
  background: hsl(70, 31%, 85%);
  text-align: center;
}

.balloon {
  display: inline-block;
  top: 10vh;
  width: 40vw;
  height: 50vw;
  background: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px 30px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: hsl(215, 30%, 50%);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: inline-block;
  bottom: -60vw;
  position: absolute;
  height: 60vw;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}

#welcome {
  background-color: rgba(255, 255, 255, 0.95);
  color: #3b3b3b;
  padding: 20px;
  border: 2px solid #fa9500;
  border-radius: 20px;
  margin: auto auto;
}

h1,
h2 {
  color: #fa9500;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.challenge-section {
  background-color: rgba(255, 255, 255, 0.95);
  color: #3b3b3b;
  padding: 20px;
  border: 2px solid #fa9500;
  border-radius: 20px;
  margin: auto auto;
}

input.form-control {
  margin-bottom: 10px;
}

button {
  background-color: #eb6424;
  border: none;
  color: white;
  width: 100%;
}

.btn-primary {
  background-color: #eb6424;
  color: white;
  border-color: #eb6424;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #7c6a0a;
}

.form-control {
  text-align: center;
}

.fixed-buttons {
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 2px;
}

.fixed-buttons button {
  background-color: transparent;
  border: none;
  padding: 1px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0;
  color: #2b2b2b;
}

.fixed-buttons button:hover {
  background-color: transparent;
}

.fixed-buttons button:focus {
  outline: none;
}
